/* Colors and fonts */

h1

{
color: #0e55d4;
font-size: 30px; 

}

h2

{
color: #002151;
font-size: 25px; 

}

h1, h2 
{

font-family: roboto;
text-align : center;

}

body 

{
background: #f6f9fc;
color : #002151;
font-family: roboto;
font-size: 20px; 
}

a

{
text-decoration: none; 
color: #7f88a2;
transition-color: 0.5 ease;
}

a:hover
{
text-decoration: none; 
color: #0e55d4; 
font-size: 20px; 
}

/* design with class */

.container
{
width: 1040px;
margin: auto;
}

@media (max-width: 760px )
{
	.container {
		width: 600px;
	}

@media (max-width: 500px )
{
	.container {
		width: 400px;
	}


}

.card-white
{
background : white;
padding : 60px;
margin: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 10px;
text-align: center;
}

.text-justify
{
text-align: justify;
}

.btn-blue
{
background-color: #002151;
color: #ffffff;
padding: 10px 10px; 
border-radius: 10px;
transition: background 0.5S ease;

}

.btn-blue: hover
{
background-color: #F7F9FC;
color: white;
}

.list-inline
{
list-style: none;
padding-left: 0px;
}

.list-inline li 
{
display: inline;
padding : 10px;
}

.list-inline i 
{
font-size: 50px;
color: #0e55d4;
}

.list-inline i: hover
{
color: red ;
}

#logo
{
width:145px;
height: 145px; 
border-radius: 50%; 
}